/********************************************** Very small mobile device (up to 480px) *********************************************/

/* For header */
@media(max-width: 1195px) {

    /* Header >  Sprache der Website */
    .wbsite-sprache {
        display: none;
    }

    /* Header */
    .sub-header .logo {
        font-size: 1.7em;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 100;
        position: fixed;
        top: 25px;
        right: 30px;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #ffffff;
        transition: all 0.3s ease;
    }

    .hamburger span:nth-child(2) {
        width: 70%;
    }

    .menu {
        position: fixed;
        top: 71px;
        left: -100%;
        width: 60%;
        max-width: 300px;
        height: 100vh;
        background: rgb(100, 60, 161);
        transition: all 0.3s ease;
        z-index: 99;
        padding: 40px 20px 400px;
        overflow-y: scroll;
        height: 100%;
    }

    .menu-toggle:checked~.menu {
        left: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        display: none;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .sub-header>div>nav>ul>li {
        display: revert;
        margin-bottom: 30px;
    }

    .sub-header>div>nav>ul>li>a {
        font-size: 1.3em;
        display: block;
        border-bottom: 1px solid #eeeeeeab;
        padding: 10px;

    }

    .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.361);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 71px;
        left: 0;
        z-index: 98;
    }

    .menu-toggle:checked:checked~.overlay {
        display: block;
    }

    /* Nav > Drop-down */
    .dropbtn {
        padding: 0 10px 20px;
    }

    .dropdown>button {
        border-bottom: 1px solid #eeeeeeab;
        padding: 10px;
        width: 100%;
        text-align: start;
        font-size: 1.3em;
    }

    .dropdown-content {
        width: 90%;
        right: 10px;
        left: 10px;
        line-height: 1.5;
        font-size: 1.1em;
        overflow-y: scroll;
        height: 350px;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        column-gap: 20px;
    }

    /*header > Sprache der Website-For-Mobile */
    .wbsite-sprache-mobile {
        background-color: rgb(100, 60, 161);
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 70px;
        padding: 8px 16px;

    }

    .wbsite-sprache-mobile>.sprache {
        border: revert;
        border-radius: 8px;
        padding-left: 10px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        margin-right: 10px;
    }

    .wbsite-sprache-mobile>.sprache>a {
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        text-decoration: none;
    }

    .sprache:hover {
        background-color: revert;
    }
}

@media (max-width: 480px) {

    /* Banner */
    .main-banner {
        margin-top: -1%;
    }

    .main-banner h1 {
        margin-top: 3%;
        font-size: 11vw;
    }

    .banner-titel p {
        width: 100%;
        font-size: 1.3em;
    }

    .sub-banner>.banner-image>img {
        width: 130vw;
        opacity: 0.4;
    }

    .project-hamburger {
        font-size: 1.1em;
    }

    .banner-ps>form>.desc-ps>label>textarea {
        height: 210px;
    }


    /* ______ About ______ */
    .sub-about {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 50px;
    }

    .sub-about>img {
        border-radius: 8px;
        width: 45vw;
        margin: 0 auto;
    }

    .about {
        text-align: left;
    }

    .about p {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.1em;
        text-align: left;
        line-height: 1.8;

    }

    .about>h2 {
        font-size: 1.8em;
        text-align: left;
    }

    /* Skills > quote */
    .about>button {
        font-size: 1.1em;
    }

    #skills>div>p {
        font-size: 1.1em;
    }

    .sub-skills {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .sub-skills>.quote {
        margin-left: 15%;
    }

    .quote::before {
        width: 70%;
    }

    .sub-skills:nth-child(1)>.quote::after {
        width: 50%;
    }

    .sub-skills:nth-child(2)>.quote::after {
        width: 44%;
    }

    .sub-skills:nth-child(3)>.quote::after {
        width: 28%;
    }

    .sub-skills:nth-child(4)>.quote::after {
        width: 44%;
    }


    /* Projects */
    .main-projects {
        padding: revert;
    }

    .project-titel {
        text-align: left;
        padding: 0 30px;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .project-titel h2 {
        font-size: 1.8em;
    }

    .project-titel p {
        width: 100%;
        padding-right: revert;

    }

    .sub-projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: left;
        margin: 0 20px;
    }

    .project-box>div {
        padding: 30px 20px;
    }

    .project-box>div>h3 {
        font-size: 1.5em;
        line-height: 1.5;
    }

    .project-box>div>a>button {
        font-size: 1.1em;
    }

    /* hero-section */
    .main-hero {
        text-align: left;
    }

    .main-hero h2 {
        font-size: 1.8em;
    }

    .hero {
        line-height: 1.5;
        text-align: left;
    }

    .hero>p {
        font-size: 2em;
    }

    /* Social-Media */
    .social>a>i {
        font-size: 1.6em;
    }

    /* Services */
    .main-contact {
        text-align: left;
    }

    .services-titel {
        text-align: left;
    }

    .services-titel h2 {
        font-size: 1.8em;
    }

    .services-titel p {
        font-size: 1.3em;
        width: 100%;
    }

    .sub-services {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .info-srvices>span {
        font-size: 1.6em;
    }

    .info-srvices>p {
        font-size: 1.2em;
        line-height: 1.8;
    }

    /* Contact */
    .contact-titel h2 {
        font-size: 1.8em;
    }

    .contact-titel p {
        width: 100%;
        font-size: 1.3em;
    }

    .sub-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sub-contact>p {
        width: 100%;
    }

    .whatsapp-button {
        font-size: 1.5em;
    }

    /* Contact */
    .main-ps {
        text-align: center;
    }

    .info-ps {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .contact-titel p {
        width: 100%;
        font-size: 1.2em;
    }

    .sub-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sub-contact>p {
        width: 100%;
    }

    .whatsapp-button {
        font-size: 1.5em;
    }

    /* Project Start */
    .ps-titel>h2 {
        font-size: 1.8em;
        text-align: left;
    }

    .ps-titel>p {
        font-size: 1.2em;
        width: 100%;
        text-align: left;
    }

    input {
        font-size: 1.3em;
    }

    textarea {
        font-size: 1.3em;
    }

    form>button {
        font-size: 1.1em;
    }

    .copyright {
        font-size: 1.1em;
    }

}








/********************************************** Medium mobile device (481px to 767px) **************************************/
@media (min-width: 481px) and (max-width: 768px) {

    /* Banner */
    .main-banner {
        margin-top: -1%;
    }

    .main-banner h1 {
        margin-top: 3%;
        font-size: 10vw;
    }

    .banner-titel p {
        width: 100%;
        font-size: 1.3em;
    }

    .sub-banner>.banner-image>img {
        width: 100vw;
        opacity: 0.4;
    }

    .project-hamburger {
        font-size: 1.1em;
    }


    /* About */
    .sub-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .sub-about>img {
        border-radius: 8px;
        width: 40vw;
        margin: 0 auto;
    }

    .about p {
        width: 100%;
        text-align: start;
        margin-bottom: 20px;
        font-size: 1.3em;
    }

    .about>h2 {
        font-size: 1.8em;
    }

    /* Skills > quote */
    .about>button {
        font-size: 1.3em;
    }

    #skills>div>p {
        font-size: 1.3em;
    }

    .sub-skills {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .quote::before {
        width: 30%;
    }

    .sub-skills:nth-child(1)>.quote::after {
        width: 23%;
    }

    .sub-skills:nth-child(2)>.quote::after {
        width: 18%;
    }

    .sub-skills:nth-child(3)>.quote::after {
        width: 13%;
    }

    .sub-skills:nth-child(4)>.quote::after {
        width: 18%;
    }

    /* Projects */
    .project-titel {
        flex-direction: column;
    }

    .project-titel h2 {
        font-size: 1.8em;
    }

    .project-titel p {
        width: 100%;
        padding-right: revert;
        font-size: 1.2em;

    }

    .sub-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
        row-gap: 40px;
    }

    .project-box>div>h3 {
        font-size: 1.5em;
        line-height: 1.5;
    }

    .project-box>div>a>button {
        font-size: 1.2em;
    }

    /* hero-section */
    .main-hero {
        /* text-align: center; */
    }

    .main-hero h2 {
        font-size: 1.8em;
    }

    .hero {
        line-height: 1.5;
    }

    /* Social-Media */
    .social>a>i {
        font-size: 1.6em;
    }

    /* Services */
    .services-titel h2 {
        font-size: 1.8em;
    }

    .services-titel p {
        font-size: 1.2em;
        width: 100%;
    }

    .sub-services {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* حل سحري لعمل grid بشكل سليم*/
        text-align: center;

    }

    .info-srvices>span {
        font-size: 1.6em;
    }

    .info-srvices>p {
        font-size: 1.3em;
    }

    /* Contact */
    .contact-titel h2 {
        font-size: 1.8em;
    }

    .contact-titel p {
        width: 100%;
        font-size: 1.3em;
    }

    .sub-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sub-contact>p {
        width: 100%;
    }

    .whatsapp-button {
        font-size: 1.5em;
    }

    /* Project Start */
    .ps-titel>h2 {
        font-size: 1.8em;
    }

    .ps-titel>p {
        font-size: 1.3em;
        width: 100%;
    }

    input {
        font-size: 1.3em;
    }

    textarea {
        font-size: 1.3em;
    }

    form>button {
        font-size: 1.1em;
    }

    .copyright {
        font-size: 1.3em;
    }




}