/**************************************************** Tablet (768px bis 1024px) *****************************************************/
@media(min-width: 768px) and (max-width: 1024px) {

    /* Banner -> beneftits */
    .sub-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .order {
        vertical-align: middle;
        display: flex;
        align-items: center;
        gap: 3px;
        margin-top: -60px;
        border-radius: 100px;
    }

    .order>p {
        font-size: 1em;
        line-height: 1.5;
        padding: 15px 10px 10px 15px;

    }

    /* Banner -> Form */
    .banner-ps {
        top: 5%;
    }

    .project-hamburger>span>i {
        margin-bottom: 20px;
    }


    /* Banner -> Laptop image */
    .sub-banner>.laptob {
        top: 50px;
        padding: 15px 0 10px 0;
        margin-bottom: 50px;
    }

    .sub-banner>.laptob>img {
        opacity: 1;
        width: 60vw;
        /* transform: scale(1.3); */
        padding: 0 20px;

    }


    /* Banner-> floating-desin --- */
    .floating-desin {
        position: absolute;
        left: 60px;
        top: -30px;

    }

    /* Code card */
    .floating-code {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .floating-code i {
        font-size: 30px;
        color: white;
    }
}


@media(min-width:1024px) and (max-width:1100px) {

    /* Banner -> beneftits */
    .sub-banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .order {
        margin-top: -60px;
        font-size: 1em;
    }

    /* Banner -> Laptop image */
    .sub-banner>.laptob>img {
        opacity: 1;
        width: 50vw;
        transform: scale(1.5);

    }

    /* Banner-> floating-desin --- */
    .floating-desin {
        position: absolute;
        left: 10px;
        top: -30px;

    }

}


@media (min-width: 768px) and (max-width: 1195px) {
    body {
        overflow: hidden;
    }

    /* Banner */
    .main-banner {
        margin-top: -1%;
    }

    .main-banner h1 {
        margin-top: 3%;
        width: 100%;
    }


    .banner-titel p {
        width: 90%;
        font-size: 1.5em;
    }

    .order {
        margin-top: -60px;
    }

    /* About */
    .sub-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .sub-about>img {
        border-radius: 8px;
        width: 33vw;
        margin: 0 auto;
    }

    .about p {
        width: 100%;
        text-align: start;
        margin-bottom: 20px;
        font-size: 1.4em;
    }

    .about>h2 {
        font-size: 2em;
    }

    /* Skills > quote */
    .about>button {
        font-size: 1.3em;
    }

    #skills>div>p {
        font-size: 1.3em;
    }

    .sub-skills {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .quote::before {
        width: 30%;
    }

    .sub-skills:nth-child(1)>.quote::after {
        width: 23%;
    }

    .sub-skills:nth-child(2)>.quote::after {
        width: 18%;
    }

    .sub-skills:nth-child(3)>.quote::after {
        width: 13%;
    }

    .sub-skills:nth-child(4)>.quote::after {
        width: 18%;
    }


    /* Projects */
    .sub-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
        row-gap: 40px;
    }

    /* Hero */
    .hero {
        line-height: 1.5;
    }

    .hero>span>p {
        margin-top: 30px;
        font-size: 1.3em;
        line-height: 1.5;
    }

    /* Social-Media */
    .social>a>i {
        font-size: 1.6em;
    }

    /* Services */
    .services-titel p {
        font-size: 1.3em;
        width: 100%;
    }

    .sub-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .info-srvices>p {
        font-size: 1.5em;
    }

    /* Contact */
    .contact-titel p {
        width: 100%;
        font-size: 1.3em;
    }

    .sub-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sub-contact>p {
        width: 100%;
    }

    .whatsapp-button {
        font-size: 1.5em;
    }


}


@media(min-width: 1300px) {

    .sub-header>div>nav>ul>li>a {

        font-size: 1.5em;

    }

    .dropdown>button {
        font-size: 1.5em;
    }

    .order {
        margin-top: -60px;
    }

    .sub-banner>.laptob {
        margin-top: 100px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .sub-banner>.laptob>img {
        width: 90vh;
    }
}